<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/categoty.css">
  <script defer src="../routes//category.js"></script>
</head>

<body>

  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    
    <div>
      <ul id="categoryList">
        <li><a class="categoryItem" data-contents="section1">로그인</a></li>
        <li><a class="categoryItem" data-contents="section2">네이버검색</a></li>
        <li><a class="categoryItem" data-contents="section1">지도</a></li>
        <li><a class="categoryItem" data-contents="section2">날씨</a></li>
        
      </ul>
    </div>
    <div class="CONTENTS"  id="section1" >카테고리1</div>
    <div class="CONTENTS"  id="section2" style="display:none;"> 카테고리2</div>
    
    

    
    
  
  </main>
</body>

</html>
